@font-face {
  font-family: "Museo-Bold";
  src: url("../public/fonts/Museo700-Regular.otf");
}

@font-face {
  font-family: "Museo";
  src: url("../public/fonts/Museo300-Regular.otf");
}

@font-face {
  font-family: "Museo-Sans";
  src: url("../public/fonts/MuseoSans_500.otf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: var(--dark-voilet-bg);
}

:root {
  --black-font: black;
  --dark-blue-bg: #181d3c;
  --dark-voilet-bg: #25274d;
  --white-font: white;
  --orange-bg: #f05a27;
  --light-pink-bg: #f6f1ed;
  --gray-font: #787878;
  --light-gray-font: #cacaca;
}

nav.desktop-navbar {
  background-color: var(--white-font);
  padding: 25px 60px;
  position: relative;
  width: 100%;
  z-index: 11;
  display: block;
}

.mobile-navbar {
  display: none;
}

.dropdown-toggle::after {
  content: url("../public/images/icons/dropdown-icon.png");
  border: none;
  margin-top: 2px;
}

nav .navbar-nav .nav-item a,
.navbar-nav .dropdown-menu .dropdown-item {
  font-family: "Museo-Sans";
  font-size: 18px;
  font-weight: 400;
  color: var(--black-font);
  padding: 10px 25px !important;
  display: flex;
  align-items: center;
  justify-content: start;
  text-decoration: none;
  background-color: transparent;
}

.custom-btn {
  border: 2px solid var(--dark-blue-bg);
  background-color: transparent;
  border-radius: 30px;
  text-transform: uppercase;
}

.custom-btn .nav-item a {
  font-size: 13px;
  line-height: 15.6px;
}

.navbar-nav .dropdown-menu {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-nav .dropdown-menu .dropdown-item {
  justify-content: left;
}

.offcanvas {
  max-width: 80%;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.banner {
  margin-bottom: 50px;
}

.banner .container-fluid {
  background-color: var(--dark-voilet-bg);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  width: 90%;
  border-radius: 75px;
  padding: 0;
}

.banner .container-fluid .banner-text {
  position: absolute;
  width: 53%;
  text-align: center;
}

.banner .container-fluid .banner-text .banner-title {
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  color: var(--white-font);
  font-family: "Museo-Bold";
}

.banner-text .custom-btn.white-btn {
  background-color: var(--white-font);
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 400;
  font-family: "Museo-Sans";
  padding: 15px 50px;
  text-transform: uppercase;
  margin-top: 20px;
  transition: color 0.5s ease, background-color 0.2s ease;
  color: var(--black-font);
  border: 1px solid transparent;
}

.banner-text .custom-btn.white-btn:hover {
  background-color: var(--orange-bg);
  color: var(--white-font);
}

.paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--white-font);
  padding: 0 30px;
  margin-top: 20px;
  font-family: "Museo-Sans";
}

.banner .container-fluid .left-img-div,
.banner .container-fluid .right-img-div {
  display: block;
}

.right-img-div .right-img1 {
  position: absolute;
  right: 0;
  top: 15%;
}

.right-img-div .right-img2 {
  position: absolute;
  right: 0;
  bottom: 5%;
}

.left-img-div .left-img1 {
  position: absolute;
  left: 0;
  top: 0;
}

.left-img-div .left-img2 {
  position: absolute;
  left: 0;
  bottom: 5%;
}

.left-img-div .left-img3 {
  position: absolute;
  left: 8%;
  bottom: 0%;
}

.strategies {
  padding: 70px 0;
}

.section-subtitle {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 26px;
  font-family: "Museo-Sans";
  color: var(--black-font);
}

.section-title {
  text-transform: capitalize;
  font-family: "Museo-Bold";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
  padding: 20px 0 30px 0;
}

.core-strategies-img {
  margin-top: 30px;
}

.core-strategies-img img {
  width: 100%;
}

.accordion-item {
  border: none;
}

.accordion-button {
  font-family: "Museo-Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: var(--black-font);
  padding-left: 0;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button::after {
  background-image: url("../public/images/icons/Group\ 8116.png");
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
  color: var(--orange-bg);
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../public/images/icons/Group\ 8117.png");
  transform: rotate(0deg);
}

.accordion-body {
  padding-left: 0;
}

.accordion-body p {
  font-family: "Museo-Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: var(--black-font);
}

.home-slider {
  padding: 80px 0;
  background-color: var(--light-pink-bg);
}

.home-slick-slider .slick-slide {
  padding: 5px;
}

.home-slick-slider .slick-slide img {
  width: 100%;
}

.video-thumbnail-container {
  position: relative;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050; /* Ensure it's on top of other elements */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.863);
  z-index: 1040;
}

.modal-video {
  width: 90%;
  height: 80vh;
  z-index: 111;
  position: relative;
}

.modal-header {
  padding: 20px;
  border-bottom: none;
}

.modal-header button {
  position: absolute;
  left: 95%;
  top: 2%;
  padding: 10px;
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.modal-header button i {
  color: var(--white-font);
  font-size: 26px;
}

.modal-body {
  margin: 20px 0;
  position: relative;
  width: 100%;
}

.video-thumbnail-container .play-icon-overlay {
  cursor: pointer;
}

.video-thumbnail-container .play-icon-overlay img {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 75px;
  height: 75px;
}

.bridging-gap {
  padding: 70px 0 100px 0;
  background-color: var(--light-pink-bg);
  background-image: url("../public/images/Group\ 8121.png");
}

.bridging-img {
  position: relative;
}

.bridging-img .bridging-img2 {
  position: relative;
  padding-left: 10%;
  z-index: 1;
  width: 80%;
}

.bridging-img2 img {
  width: 100%;
}

.bridging-img .bridging-img1 {
  position: absolute;
  top: 0%;
  right: 12%;
}

.bridging-img .bridging-img3 {
  position: absolute;
  bottom: -10%;
  left: 5%;
}

.bridge-para {
  color: var(--black-font);
  padding: 0 12px 0 0;
  text-align: left;
}

.bridge-btn {
  padding: 10px 30px;
  margin: 40px 0;
}

.bridge-btn a {
  color: var(--black-font);
  text-decoration: none;
}

.half-img-section {
  background-image: url("../public/images/Mask\ group 1.png");
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  padding: 30px 0 50px 0;
  height: 100%;
}

.half-img-text {
  padding: 7% 24%;
  margin-bottom: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.read-btn {
  background-color: var(--black-font);
}

.read-btn a {
  color: var(--white-font) !important;
}

.support-section {
  padding: 70px 0;
}

.support-text-div {
  position: relative;
}

.support-text-div h2 {
  font-family: "Museo";
  font-size: 128px;
  font-weight: 700;
  line-height: 138px;
  text-align: left;
  position: relative;
  color: var(--black-font);
}

.support-text-div .support-para {
  position: absolute;
  width: 35%;
  bottom: -18%;
  right: 0;
}

.support-para .unicef {
  text-transform: uppercase;
}

.testimonials {
  margin: 50px 0;
  padding: 50px 40px;
  background-image: url("../public/images/testimonials/Ellipse\ 6.png");
  background-repeat: no-repeat;
  background-position: 95%;
}

.testimonial-text {
  padding-left: 5%;
}

.testimonial-img img {
  width: 430px;
  height: 430px;
  object-fit: cover;
}

.testimonial-para {
  font-size: 20px;
}

.testimonial-links ul {
  display: flex;
  flex-direction: column;
  align-items: end;
  border: none;
  border-color: transparent;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-wrap: nowrap;
  height: 550px;
}

/* Custom scrollbar for testimonial links */
.testimonial-links ul::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.testimonial-links ul::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the scrollbar track */
  border-radius: 4px; /* Optional rounded corners for the track */
}

.testimonial-links ul::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Optional rounded corners for the thumb */
}

.testimonial-links ul::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker thumb color on hover */
}

/* For Firefox */
.testimonial-links ul {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
}

.testimonial-links ul::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #6a11cb, #2575fc); /* Gradient thumb */
  border-radius: 6px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.testimonial-links ul::-webkit-scrollbar-track {
  background: transparent; /* Make the track transparent */
}

.testimonial-links .nav-tabs .nav-item .nav-link {
  margin-bottom: 0;
  border: none;
}

.testimonial-links .nav-tabs .nav-item.show .nav-link {
  border: none;
  color: transparent;
}

.nav-tabs .nav-link.active {
  background-color: transparent;
  border: none;
}

.testimonial-links .nav-tabs .nav-link img {
  filter: brightness(0.6);
  transition: filter ease 0.8s;
  width: 116px;
  height: 116px;
  object-fit: cover;
}

.testimonial-links .nav-tabs .nav-link.active img {
  filter: brightness(1);
}

.testimonial-links .nav-tabs .nav-link:hover img {
  border: none;
  filter: brightness(1);
}

.testimonial-links .nav-tabs .nav-item:focus-visible {
  outline: none;
}

.testimonial-name h6 {
  font-family: "Museo-Sans";
  font-size: 32px;
  font-weight: 600;
  line-height: 38.4px;
  text-align: left;
  padding-top: 25px;
  color: var(--black-font);
}

.testimonial-name p {
  font-family: "Museo-Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--gray-font);
}

.news-events {
  background-color: var(--light-pink-bg);
  padding: 50px 0 70px 0;
}

.news-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-img img {
  position: relative;
}

.hope-div {
  position: absolute;
  background-color: var(--white-font);
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 40px;
  bottom: -30%;
  width: 80%;
}

.hope-div h2 {
  font-family: "Museo-Sans";
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  color: var(--black-font);
}

.hope-div p {
  font-family: "Museo-Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: var(--gray-font);
}

.news-time {
  display: flex;
}

.news-time-div span:first-child {
  display: inline-flex;
  height: 1px;
  width: 75px;
  background-color: var(--gray-font);
  margin-bottom: 10px;
}

.news-time h6 {
  font-family: "Museo-Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--gray-font);
}

.news-time h6:first-child {
  font-weight: 700;
  text-transform: uppercase;
}

.news-time span {
  padding: 0 10px;
}

.events-div a {
  text-decoration: none;
}

.single-event {
  margin-bottom: 60px;
}

.single-event img {
  width: 46px;
  height: 46px;
}

.event-single-div h6 {
  font-family: "Museo-Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: var(--black-font);
}

.event-single-div h6:first-child {
  text-transform: uppercase;
  font-weight: 700;
}

.event-single-div span {
  padding: 0 8px;
  padding-bottom: 10px;
  color: var(--black-font);
}

.single-event h5 {
  font-family: "Museo-Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
  color: var(--black-font);
  width: 66%;
}

.get-started {
  padding: 50px 0;
}

.get-started-form label {
  font-family: "Museo-Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
}

.get-started-form .form-control,
.get-started-form .form-select {
  border: none;
  border-bottom: 1px solid var(--light-gray-font);
  border-radius: 0;
  font-family: "Museo-Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
}

.get-started-form .form-select {
  padding: 0;
  padding-bottom: 12px;
}

.get-started-form .form-control:focus,
.get-started-form .form-select {
  box-shadow: none;
}

/* FOOTER */
.footer {
  background-color: var(--dark-voilet-bg);
  padding: 50px 60px;
}

.footer .social-media a img {
  margin-left: 10px;
}

.footer .row.copyright-row {
  border-top: 1px solid var(--white-font);
  margin-top: 30px;
}

.footer .row.copyright-row p {
  color: var(--white-font);
  font-size: 14px;
  line-height: 16.8px;
  padding-top: 30px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .mobile-navbar {
    display: block;
    background-color: var(--white-font);
  }

  nav.desktop-navbar {
    display: none;
  }

  .banner .container-fluid {
    width: 100%;
    height: 84vh;
    margin-top: 62px;
  }

  nav .navbar-nav .nav-item .nav-link,
  .navbar-nav .dropdown-menu .dropdown-item {
    justify-content: start;
  }

  nav .navbar-nav .nav-item a,
  .navbar-nav .dropdown-menu .dropdown-item {
    justify-content: start;
    padding: 20px 15px !important;
  }

  .mobile-navbar .custom-btn {
    margin: 20px 0;
    width: 40%;
  }

  .custom-btn a {
    padding: 15px 20px !important;
  }
}

@media screen and (max-width: 768px) {
  .banner .container-fluid .banner-text {
    z-index: 11;
    width: 100%;
  }

  .banner .container-fluid .banner-text .banner-title {
    font-size: 60px;
    line-height: 70px;
  }

  .bridging-img .bridging-img2 {
    padding-left: 5%;
    width: 100%;
  }

  .bridging-img .bridging-img3 {
    left: 0;
  }

  .bridging-img .bridging-img1 {
    right: 0;
    top: -20px;
  }

  .bridging-img {
    margin-bottom: 60px;
  }

  .half-img-text {
    padding: 5%;
  }

  .half-img-section {
    padding: 30px 0;
  }

  .support-text-div h2 {
    font-size: 60px;
    line-height: 70px;
  }

  .testimonials {
    padding: 0;
    background-image: none;
  }

  .support-text-div .support-para {
    width: 100%;
    position: relative;
  }

  .testimonial-links ul {
    flex-direction: row;
    overflow: scroll;
    height: auto;
    margin-bottom: 30px;
  }

  .testimonial-text {
    padding: 0 12px;
  }

  .testimonial-img img {
    height: 100%;
    width: 100%;
  }

  .news-img {
    display: block;
  }

  .hope-div {
    position: relative;
    width: 100%;
    margin: 30px 0;
  }

  .footer {
    padding: 30px 20px;
  }

  .news-time span {
    padding: 0 6px;
  }

  .modal-header button {
    left: 88%;
  }

  .modal-body {
    margin: 30px 0;
  }

  .modal-video {
    height: 75vh;
    margin-top: 50px;
  }
}
